<footer class="footer">
    <div class="footer-content">
        <div class="footer-top">
            <div class="footer-social-left">
                <a href="mailto:dynamobeirs@gmail.com" aria-label="Email" class="social-icon">
                    <i class="fas fa-envelope"></i>
                </a>
                <a href="https://www.google.be/maps/dir//51.311202,4.846346/@51.3086118,4.8524645,14.58z/data=!4m2!4m1!3e1" target="_blank" aria-label="Google Maps" class="social-icon">
                    <i class="fas fa-map-marker-alt"></i>
                </a>
            </div>
            <div class="footer-brand">
                <img src="../../img/logos/white-outlined-logo.png" alt="White Outlined Dynamo Beirs Logo" class="footer-logo">
            </div>
            <div class="footer-social-right">
                <a href="https://www.facebook.com/DynamoBeirs" target="_blank" aria-label="Facebook" class="social-icon">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://www.instagram.com/dynamobeirs/" target="_blank" aria-label="Instagram" class="social-icon">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="footer-copyright">
                <p>© 2025 Dynamo Beirs. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
