<footer class="footer">
    <div class="footer-content">
        <div class="footer-top">
            <div class="footer-social-left">
                <a href="mailto:dynamobeirs@gmail.com" aria-label="Email" class="social-icon">
                    <i class="fas fa-envelope"></i>
                </a>
                <a href="https://www.google.com/maps/place/Dynamo+Beirs/@51.3112215,4.8438315,17z/data=!4m16!1m9!3m8!1s0x47c6ad6e24d8bdb3:0x35268e66cb4d4999!2sDynamo+Beirs!8m2!3d51.3112215!4d4.8464064!9m1!1b1!16s%2Fg%2F11llls8wd9!3m5!1s0x47c6ad6e24d8bdb3:0x35268e66cb4d4999!8m2!3d51.3112215!4d4.8464064!16s%2Fg%2F11llls8wd9!5m1!1e4?entry=ttu&g_ep=EgoyMDI1MDYwOS4xIKXMDSoASAFQAw%3D%3D" target="_blank" aria-label="Google Maps" class="social-icon">
                    <i class="fas fa-map-marker-alt"></i>
                </a>
            </div>
            <div class="footer-brand">
                <img src="../../img/logos/white-outlined-logo.png" alt="White Outlined Dynamo Beirs Logo" class="footer-logo">
            </div>
            <div class="footer-social-right">
                <a href="https://www.facebook.com/DynamoBeirs" target="_blank" aria-label="Facebook" class="social-icon">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://www.instagram.com/dynamobeirs/" target="_blank" aria-label="Instagram" class="social-icon">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="footer-copyright">
                <p>© 2025 Dynamo Beirs. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
