<link rel="stylesheet" href="/dynamo/css/components/matchModal.css"/>
<link rel="stylesheet" href="/dynamo/css/components/modal-shared.css">

<div id="matchCenterModal" class="modal-overlay">
    <div class="modal-content scrollbar-y">
        <button class="close-modal"><i class="fas fa-times"></i></button>

        <div id="modalMatchTitle" class="match-title-container">
            <div class="team-name home-team">...</div>
            <div class="vs-text">vs</div>
            <div class="team-name away-team">...</div>
        </div>

        <div class="season" id="matchSeason">...</div>

        <div id="modalMatchSponsor" class="modal-sponsor-container" style="display: none;">
            <h3>Matchbalsponsor</h3>
            <a id="modalSponsorLink" href="#" target="_blank" rel="noopener">
                <img id="modalSponsorLogo" src="" alt="Sponsor Logo" loading="lazy">
            </a>
        </div>

        <div class="modal-match-score" id="modalMatchScore" style="display: none;">
            <div class="score-display">--</div>
        </div>

        <div class="goalscorers-section">
            <h3>Doelpuntenmakers</h3>
            <ul class="goalscorers-list" id="goalscorersList">
            </ul>
        </div>

        <div class="modal-details">
            <div class="modal-section date-time-section">
                <h3>Datum & Tijd</h3>
                <div class="date-time-container">
                    <div class="date-box">
                        <p id="matchDate">-- ---</p> </div>
                    <div class="time-box">
                        <p id="matchTime">--:--</p> </div>
                </div>
            </div>
            <div class="modal-section stadium-section">
                <h3>Stadion</h3>
                <p class="stadium-name" id="stadiumName">
                    <i class="fas fa-map-marker-alt"></i>
                    ... </p>
            </div>
        </div>
    </div>
</div>