<link rel="stylesheet" href="/dynamo/css/components/playerModal.css"/>

<div id="playerModal" class="modal-overlay">
    <div class="modal-content">
        <button class="close-modal"><i class="fas fa-times"></i></button>

        <div class="player-header">
            <h2 id="modalPlayerName">...</h2> <div class="position" id="playerPosition">...</div> <img id="nationalityFlag" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Flag" class="flag-icon">
        </div>

        <div class="season-stats-section">
            <h3>Dit Seizoen</h3>
            <div class="stats-container">
                <div class="stat-box">
                    <p><i class="fas fa-shirt"></i> Wedstrijden: <span id="gamesThisSeason">-</span></p> </div>
                <div class="stat-box">
                    <p><i class="fas fa-futbol"></i> Doelpunten: <span id="goalsThisSeason">-</span></p> </div>
            </div>
        </div>

        <div class="all-time-stats-section">
            <h3>All Time</h3>
            <div class="stats-container">
                <div class="stat-box">
                    <p><i class="fas fa-shirt"></i> Wedstrijden: <span id="gamesTotal">-</span></p> </div>
                <div class="stat-box">
                    <p><i class="fas fa-futbol"></i> Doelpunten: <span id="goalsTotal">-</span></p> </div>
            </div>
        </div>
    </div>
</div>