<header class="header" id="header">
    <nav class="nav-container">
        <div class="mobile-menu-toggle" id="mobile-menu-toggle" tabindex="0" role="button" aria-label="Toggle mobile menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="header-logo-container" id="header-logo-container">
            <a href="" aria-label="Dynamo Beirs Homepage" class="header-logo-link" id="header-logo-link">
                <div class="logo-container">
                    <img src="" alt="Red Outlined Dynamo Beirs Logo" class="header-logo header-logo-red" id="header-logo-red">
                </div>
            </a>
        </div>
        <ul class="nav-links" id="nav-links">
            <li><a href="" class="nav-link" data-page="home">Home<span></span></a></li>
            <li><a href="" class="nav-link" data-page="players">Spelers<span></span></a></li>
            <li><a href="" class="nav-link" data-page="statistics">Statistieken<span></span></a></li>
            <li><a href="" class="nav-link" data-page="matches">Wedstrijden<span></span></a></li>
        </ul>
    </nav>
</header>

<div class="scroll-progress-container">
    <div class="scroll-progress-bar"></div>
</div>