/* Football Loader */
.hidden {
    display: none !important;
}

.search-inline-loader {
    text-align: center;
    margin: 2rem 0;
    font-family: 'Poppins', sans-serif;
    color: var(--dark-gray);
}

.search-inline-loader .loader-text {
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 0.75rem;
    color: var(--dark-gray);
}

.search-inline-loader .football-loader {
    display: inline-block;
}

.search-inline-loader .football-loader svg {
    width: 48px;
    height: 48px;
    display: block;
    margin: 0 auto;
}

.search-inline-loader .football-loader path {
    animation: pulse 1s infinite;
    fill: #B90A0A;
    opacity: 0.1;
}

.search-inline-loader .football-loader .path-0 { animation-delay: -0.125s; }
.search-inline-loader .football-loader .path-1 { animation-delay: -0.25s; }
.search-inline-loader .football-loader .path-2 { animation-delay: -0.375s; }
.search-inline-loader .football-loader .path-3 { animation-delay: -0.5s; }
.search-inline-loader .football-loader .path-4 { animation-delay: -0.625s; }
.search-inline-loader .football-loader .path-5 { animation-delay: -0.75s; }
.search-inline-loader .football-loader .path-6 { animation-delay: -0.875s; }
.search-inline-loader .football-loader .path-7 { animation-delay: -1s; }

@keyframes pulse {
    0%, 100% { opacity: 0.1; }
    30%      { opacity: 0.9; }
}