<div id="statModal" class="modal-overlay" style="opacity: 0; visibility: hidden; pointer-events: none;">
    <div class="modal-content scrollbar-y">

        <button class="close-modal">
            <i class="fas fa-times"></i>
        </button>

        <div class="stat-modal-header" id="statModalHeader">
            <h3 id="statModalTitle">Statistiek</h3>
            <div id="statModalIconContainer"></div>
        </div>

        <ul class="stat-modal-list" id="statModalList">
        </ul>

    </div>
</div>